body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 700px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  flex-wrap: wrap;
  width: 30%;
  text-decoration: none;
  color: black;
  margin: 0 auto;
  font-size: 20px;
}

.input__char {
  width: 692px;
  height: 30px;
}
